.wish{
    background: white;
    border-radius:10px;
    display: flex;
    flex-direction: row;
    padding: 12px;
}
.wishContainer{
  padding: 8px 0;
  transition: all 0.2s ease-out;
}
.gutter-wish {
  padding: 8px;
}
.wishesContainer{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.wish h3{
  margin:0;
  padding: 0;
}

.wishContainer:hover{
    padding: 3px 0 13px 0;
}
.wishContainer:hover .wish{
box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
}
.wish a{
  color:black;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
}

.wish p{
  margin:0;
}
.wish .picture{
  width: 100px;
  height: 100px;
  background:rgb(255,193,194);
  border-radius:10px;
  display: inline-block;
  background-position: center;
  background-size: cover;
}
.wish .content{
  display: inline-block;
  width: calc(100% - 100px);
  vertical-align: top;
  padding:0 10px;
  margin-top:-10px;
  position: relative;
}
.wish a img{
  height: 35px;
  vertical-align: bottom;
}
.wish a:hover{
  color:#4855FF;
}
.wishLink{
  display: inline-flex;
  align-items: center;
}
@media screen and (max-width: 1201px) {

  .wishesContainer{
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {

  .wishesContainer{
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .wish a{
    position: relative;
    display: block;

  }
}
