:host{
  width: 100%;
  height: 100vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 20px 50px;
  height: auto;
  form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    >div{
      width: 100%;
    }
  }
  margin-inline: auto;

}
