*{
  font-family: 'Palanquin', sans-serif !important;
  box-sizing: border-box !important;

  transition: all 0.1s ease-out;
}
h1{
  font-size: 60px !important;
  color:white !important;
  text-align: center !important;
  font-weight: 900 !important;
  margin-bottom: 0 !important;
}
html,body{
  background: rgb(57,57,57) !important;
}
#root,body,html{
  height: 100%;
  margin:0;
  padding: 0;
}
.my-container{
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
