

<div class="wish">
  <div  class="picture">
    @if(wish().picture && wish().picture !== undefined){
    <img [src]="wish().picture" alt="{{wish().title}}" />
    }
  </div>
  <div class="content">
    <h3>
      {{wish().title}}</h3>

    <p>
      {{wish().description}}</p>
    <div class="price">
      {{wish().price | currency:'EUR' :'symbol' : '1.2-2': 'fr' }}
    </div>
    @if(wish().link){
    <a target='_blank' [href]="wish().link" rel="noreferrer" class="wishLink"><img src="/gift.svg" />Acheter et offrir à {{configStore.name}}</a>
    }
  </div>
</div>
